.book-card {
	margin-top: 20px;
	background-color: #fff;
	height: 270px;
	box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 0 0 20px 20px;
	color: var(--body-color-light);
}

.book-card-img {
	width: 160px;
	margin-top: -35px;
	border-radius: 2px;
	box-shadow: 0px 1px 7px 2px #c7c9d3;
	border-bottom: 1px solid #dcddde;
	object-fit: cover;
	margin-bottom: 20px;
	transition: 0.3s ease;
	&:hover {
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
	}
}

.card-content {
	color: var(--body-color);
	padding: 30px;
	overflow: hidden;
	position: relative;
}

.book-name {
	font-weight: 500;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.book-by {
	font-size: 13px;
	color: var(--body-color-light);
	margin-top: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.book-rate > label {
	color: #cccccc;
}

.rate {
	display: inline-block;
	white-space: nowrap;
}

.book-rate > input:checked ~ label,
.book-rate:not(:checked) > label:hover,
.book-rate:not(:checked) > label:hover ~ label {
	color: #ff9700;
}
.book-rate > input:checked + label:hover,
.book-rate > input:checked ~ label:hover,
.book-rate > label:hover ~ input:checked ~ label,
.book-rate > input:checked ~ label:hover ~ label {
	color: #ff9700;
}

.card-vote {
	color: var(--body-color-light);
}

.card-sum {
	color: var(--body-color-light);
	font-size: 13px;
	line-height: 1.6em;
	-webkit-line-clamp: 4;
	margin-top: 15px;
}

.book-see-post {
	margin-top: 25px;
	text-align: center;
	background-color: #f2f2f2;
	color: #fbadaf;
	font-weight: 600;
	padding: 8px;
	font-size: 14px;
	width: 160px;
	border-radius: 20px;
	cursor: pointer;
	&:hover {
		color: #ff6e72;
	}
}

.content-wrapper {
	display: flex;
	border-bottom: 1px solid #ebedef;
	position: relative;
	// &:before {
	//   content: '';
	//   position: absolute;
	//   background-color: #8f98a9;
	//   background-color: #aaaebc;
	//   box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
	//   width: 4px;
	//   height: 4px;
	//   border: 0;
	//   padding: 0;
	//   right: 12px;
	//   top: 17px;
	//   border-radius: 50%;
	//   margin-left: auto;
	// }
}
.delete-btn {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	cursor: pointer;
	&:hover {
		color: #ff6e72;
	}
}
