@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

.popup-modal {
	height: 500px;
	width: 800px;
	background-color: #f5fffa;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 10px;
	display: flex;
	box-shadow: 5px 5px 10px rgb(198, 198, 198);
	-ms-user-select: none;
	    user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.image-card {
	width: 40%;
	// background-color: pink;
}
.details-card {
	-webkit-transform: translateX(-20px);
	        transform: translateX(-20px);
	position: relative;
	width: 60%;
	// background-color: plum;
}
.book-image-modal {
	-webkit-transform: translate(-20px, -20px);
	        transform: translate(-20px, -20px);
	box-shadow: 10px 10px 10px rgb(198, 198, 198);
}

.modal-book-title {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: Lato;
	width: 100%;
	text-align: center;
	margin-top: 30px;

	span {
		margin: 0 auto;
	}
}

.modal-book-author {
	margin-left: 40px;
	margin-top: 20px;
	display: block;
}
.modal-book-price {
	position: absolute;
	bottom: 30%;
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	span {
		background-color: rgb(255, 224, 23);
		padding: 10px;
		width: 250px;
		color: #000;
		// border-radius: 10px;
	}
}

.add-to-cart {
	position: absolute;
	bottom: 60px;
	left: 30%;
	background-color: #111;
	color: white;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
	padding: 10px;
	cursor: pointer;
	width: 200px;
	text-transform: capitalize;

	.btn-text {
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		display: inline-block;
		-webkit-transform: translateY(8px);
		        transform: translateY(8px);
	}

	img {
		opacity: 1.2;
		-webkit-filter: brightness(10px);
		        filter: brightness(10px);
		-webkit-transform: translateZ(10px);
		        transform: translateZ(10px);
		height: 40px;
		float: right;
	}

	&:hover {
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
		transition: all 0.3s ease-out;
		box-shadow: 10px 10px 10px rgb(198, 198, 198);
	}
	&:active {
		-webkit-transform: translateY(5px);
		        transform: translateY(5px);
	}
}

.old-book-details {
	margin-top: 20px;
	margin-left: 40px;
	display: block;
}
