@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
  --body-bg-color: #e5f4f9;
  --body-color-light: #8b939c;
  --body-font: 'Roboto', sans-serif;
  --page-bg-color: #f2f5f7;
  --body-color: #3d4954;
  --border-color: #b8bec3;
  --placeholder: #ccd0d2;
}
%display {
  display: flex;
  align-items: center;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-top: 100px;
  overflow: hidden;
}

.books-of {
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.popular-books {
  flex-grow: 1;
  padding: 0 30px 50px;
  overflow-y: auto;
}

.genre {
  font-weight: 500;
  font-size: 15px;
}

.main-menu {
  @extend %display;
  white-space: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcddde;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--page-bg-color);
  z-index: 2;
}

.book-types {
  margin-left: auto;
  a {
    text-decoration: none;
    color: var(--body-color);
    font-size: 14px;
  }
}

.book-type + .book-type {
  margin-left: 20px;
}

.book-type {
  position: relative;
  transition: 0.2s;
  &.active,
  &:hover {
    -webkit-text-stroke: 0.3px;
    &:before {
      content: '';
      position: absolute;
      width: 28px;
      height: 2px;
      bottom: -17px;
      right: 15px;
      background-color: #67d4ea;
      box-shadow: 0px -1px 5px 0px #67d4ea;
    }
  }
  &:nth-child(2):before {
    right: 12px;
  }
  &:nth-child(3):before {
    right: 8px;
  }
  &:nth-child(4):before {
    right: 6px;
  }
  &:nth-child(5):before {
    right: 20px;
  }
}

.week {
  padding: 0 30px;
}

.author {
  @extend %display;
  & + & {
    margin-top: 20px;
  }
  &-name {
    font-size: 14px;
  }
  &:last-child {
    margin-bottom: 40px;
  }
}

.author-title {
  padding: 0 0 20px;
  font-weight: 500;
  font-size: 15px;
}

.author-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  object-fit: cover;
  object-position: center;
}

.year-book {
  @extend %display;
  &-img {
    width: 45px;
    margin-right: 16px;
  }
  &-name {
    margin-bottom: 15px;
    font-weight: 500;
  }
  &-author {
    font-size: 13px;
  }
  & + & {
    margin-top: 20px;
  }
}

.year-book-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f2f5f7 65%, #f2f5f7 100%);
  height: 60px;
  margin-left: -35px;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-top: 40px;
  position: relative;
}

@media (max-width: 1103px) {
  .book-cell {
    width: 60%;
  }
}

@media (max-width: 765px) {
  .book-cell {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .book-cell {
    width: 100%;
  }
}

@media (max-width: 458px) {
  .book-photo {
    width: 180px;
  }
  .book-voters {
    display: none;
  }
}

@media (max-width: 420px) {
  .book-see {
    width: 120px;
    font-size: 13px;
  }
  .book-photo {
    width: 130px;
  }
  .main-wrapper {
    margin-top: 50px;
  }
}

@media (max-width: 360px) {
  .rating > label:before {
    font-size: 0.8em;
  }
}

@media (max-width: 1220px) {
  .card-vote {
    display: none;
  }
}

@media (max-width: 1085px) {
  .book-rate > label {
    font-size: 0.7em;
  }
}

@media (max-width: 1045px) {
  .books-of {
    display: none;
  }
}

@media (max-width: 725px) {
  .browse-category,
  .search-bar {
    display: none;
  }
  .header-title {
    margin-right: auto;
  }
  .book-cards {
    grid-template-columns: 1fr;
  }
  .book-types {
    display: none;
  }
}

@media (max-width: 372px) {
  .card-content {
    padding: 20px;
  }
}
